var options%%PLOT%% = { 
    xaxis: { mode: "time", ticks: 6, timeformat: "%H:%M:%S" },
    legend: { position: "nw" },
    grid: { hoverable: true, clickable: true }, 
    series: { stack: true,
              lines: { show: true, fill: true, steps: true },
              bars: { show: false, barWidth: 0.6 }
            }

};
$(function () {
    $.plot($("#plot%%PLOT%%"),plot%%PLOT%%, options%%PLOT%%);
});


