# sor3 : install a System of Records, master/relay/relay Continuent Tungsten cluster

# To run this cookbook:
# 1.  Modify the USER_VALUES3.sh file in this directory
# 2.  Uncomment the USER_VALUES3.sh line below
# 3.  Run the cookbook from the top-level directory
#     tungsten-enterprise-1.5.0 $>. ./cookbook/sor.tmpl

# Loads environment variables to fill in the cookbook
# . cookbook/USER_VALUES3.sh

tools/tpm configure defaults --reset \
    --log=timestamp \
    --datasource-port=$DATASOURCE_PORT \
    --home-directory=$CONTINUENT_ROOT \
    --user=$USER \
    --datasource-user=$DATASOURCE_USER \
    --datasource-password=$DATASOURCE_PASSWORD \
    --application-user=$APPLICATION_USER \
    --application-password=$APPLICATION_PASSWORD \
    --connector-listen-port=$APPLICATION_PORT \
    --datasource-boot-script=$DATASOURCE_BOOT_SCRIPT \
    --datasource-log-directory=$MYSQL_BINARY_LOG_DIRECTORY \
    --datasource-mysql-conf=$MYSQL_CONF \
    --mysql-connectorj-path=$CONNECTORJ \
    --root-command-prefix=$ROOT_COMMAND \
    --profile-script=$PROFILE_SCRIPT \
    $MORE_OPTIONS \
    $START_OPTION  

tools/tpm configure $DS_NAME1 \
    --dataservice-hosts=$MASTER1,$SLAVES1 \
    --dataservice-connectors=$CONNECTORS1 \
    --dataservice-master-host=$MASTER1 

#    --dataservice-witnesses=$WITNESS1

tools/tpm configure $DS_NAME2 \
    --dataservice-hosts=$MASTER2,$SLAVES2 \
    --dataservice-relay-enabled=true \
    --dataservice-relay-source=$DS_NAME1 \
    --dataservice-connectors=$CONNECTORS2 \
    --dataservice-master-host=$MASTER2 

#    --dataservice-witnesses=$WITNESS2

tools/tpm configure $DS_NAME3 \
    --dataservice-hosts=$MASTER3,$SLAVES3 \
    --dataservice-relay-enabled=true \
    --dataservice-relay-source=$DS_NAME1 \
    --dataservice-connectors=$CONNECTORS3 \
    --dataservice-master-host=$MASTER3 

#    --dataservice-witnesses=$WITNESS3


tools/tpm configure $COMPOSITE_DS \
    --dataservice-composite-datasources=$DS_NAME1,$DS_NAME2,$DS_NAME3

tools/tpm install $COMPOSITE_DS

