# std_ruby : install a single Continuent Tungsten cluster with direct connections to slaves

# To run this cookbook:
# 1.  Modify the USER_VALUES.sh file in this directory
# 2.  Uncomment the USER_VALUES.sh line below
# 3.  Run the cookbook from the top-level directory
#     tungsten-enterprise-1.5.0 $>. ./cookbook/std.tmpl

# Loads environment variables to fill in the cookbook
# . cookbook/USER_VALUES.sh

./tools/tpm configure defaults  --reset \
 --log=timestamp \
 --home-directory=$CONTINUENT_ROOT \
 --user=$USER \
 --datasource-user=$DATASOURCE_USER \
 --datasource-password=$DATASOURCE_PASSWORD \
 --datasource-port=$DATASOURCE_PORT \
  --connector-rw-addresses=$CONNECTOR_DIRECT_RW \
  --connector-ro-addresses=$CONNECTOR_DIRECT_RO \
  --root-command-prefix=$ROOT_COMMAND \
  --mysql-connectorj-path=$CONNECTORJ \
  --connector-user=$APPLICATION_USER \
  --connector-password=$APPLICATION_PASSWORD \
  --connector-smartscale=true \
  --connector-autoreconnect=true \
  --connector-smartscale-sessionid=DATABASE \
  --mgr-listen-interface=eth1 -a \
  --repl-backup-method=xtrabackup \
  --datasource-log-directory=$MYSQL_BINARY_LOG_DIRECTORY \
  --property=manager.error.diag=false \
 --start-and-report

./tools/tpm configure $DS_NAME \
  --dataservice-hosts=$MASTER,$SLAVES \
  --dataservice-master-host=$MASTER \
  --dataservice-connectors=$CONNECTORS \
  $MORE_OPTIONS \
  $START_OPTION

#  --dataservice-witnesses=$WITNESS 

./tools/tpm install $DS_NAME 

# --skip-validation-check=ConnectorRWAddressesCheck \
# --skip-validation-check=ConnectorROAddressesCheck \
# --skip-validation-check=ContinuentRootCheck  \
# --skip-validation-check=MySQLConnectorPermissionsCheck \
# --skip-validation-check=ConnectorUserCheck


