#
# CRITICAL NOTE:
#  
# The mappings in this file determine the way that the Tungsten manager and rules
# interpret the return status from utilities that probe the state of a database
# server.  This mapping, in turn, can directly drive whether or not a particular
# probe return status can trigger, for example, a failover or just cause the
# database server state to be updated with a different status.
#
# At this time, only the 'stopped' state can trigger a failure of a given data source.
# All other states are advisory only and are attended by extensive logging in the
# tungsten-manager/log/tmsvc.log.
#
# PLEASE DO NOT CHANGE THESE MAPPINGS UNLESS YOU ARE A TUNGSTEN INTERNALS EXPERT
# OR UNLESS YOU ARE DIRECTED TO DO BY A CONTINUENT SUPPORT ENGINEER.  FAILURE
# TO HEED THIS ADVICE MAY LEAD TO UNEXPECTED INSTABILITY IN YOUR CLUSTERS
# 

#
# Status values that indicate the db server is responding normally
#
ok = online

#
# Status values that indicate the db server is definitively stopped
#
socket_io_error = stopped

#
# Status values that indicate some sort of timeout condition
#
socket_connect_timeout = timeout
login_response_timeout = timeout
query_exec_timeout = timeout
query_results_timeout = timeout
send_query_timeout = timeout

#
# Status values for which we cannot definitively determine the db server state
#
host_is_down = suspect
no_route_to_host = suspect
query_too_large = suspect
open_file_limit_error = suspect
socket_no_io = suspect
query_result_failed = suspect
query_execution_failed = suspect
mysql_error = suspect
unexpected_exception = suspect
mysql_premature_eof = suspect
untrapped_condition = suspect
too_many_connections = suspect
