# simple_sor : install a multi site Tungsten cluster with simplified syntax

# To run this cookbook:
# 1.  Modify the USER_VALUES.sh file in this directory
# 2.  Uncomment the USER_VALUES.sh line below
# 3.  Run the cookbook from the top-level directory
#     tungsten-enterprise-1.5.0 $>. ./cookbook/sor.tmpl

# Loads environment variables to fill in the cookbook
# . cookbook/USER_VALUES.sh

tools/tpm configure defaults --reset \
    --replication-port=$DATASOURCE_PORT \
    --home-directory=$CONTINUENT_ROOT \
    --user=$USER \
    --replication-user=$DATASOURCE_USER \
    --replication-password=$DATASOURCE_PASSWORD \
    --application-user=$APPLICATION_USER \
    --application-password=$APPLICATION_PASSWORD \
    --application-port=$APPLICATION_PORT \
    --datasource-boot-script=$DATASOURCE_BOOT_SCRIPT \
    --datasource-log-directory=$MYSQL_BINARY_LOG_DIRECTORY \
    --datasource-mysql-conf=$MYSQL_CONF \
    --mysql-connectorj-path=$CONNECTORJ \
    --root-command-prefix=$ROOT_COMMAND \
    --profile-script=$PROFILE_SCRIPT \
    -a --svc-parallelization-type=none --channels=1 \
    $MORE_OPTIONS \
    $START_OPTION  

tools/tpm configure $DS_NAME1 \
    --members=$MASTER1,$SLAVES1 \
    --connectors=$CONNECTORS1 \
    --master=$MASTER1 \
    --witnesses=$WITNESS1

tools/tpm configure $DS_NAME2 \
    --members=$MASTER2,$SLAVES2 \
    --dataservice-relay-source=$DS_NAME1 \
    --connectors=$CONNECTORS2 \
    --master=$MASTER2 \
    --witnesses=$WITNESS2

tools/tpm configure $COMPOSITE_DS \
    --dataservice-composite-datasources=$DS_NAME1,$DS_NAME2

tools/tpm install $COMPOSITE_DS

